<%= form_with(model: storage) do |form| %>
  <% if storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
        <% storage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

 


  <div class="form-group">
    <div class="col-lg-10">
       <%= form.hidden_field :movimentation_id, :value => @storage.movimentation_id%>
    </div>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
