<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage.name %>
</p>

<p>
  <strong>Movimentation:</strong>
  <%= @storage.movimentation_id %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
